.customInput {
  width: 600px !important;
  height: 56px !important;
  flex-shrink: 0;
  border-radius: 12px;
  color: var(--placeholder, #9c9c9c);
  font-family: Nunito;
  font-size: 25px !important;
  font-style: normal;
  font-weight: 400;
  letter-spacing: -0.5px;
  line-height: normal;
}
