.projects {
  display: flex;
  height: 100vh;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  .projectsContainer {
    display: flex;
    width: 100%;
    height: 100%;
    flex-direction: row;
    flex-wrap: wrap;
    .carrousel {
      width: 50%;
      height: calc(100% - 90px);
      background: var(--Middle-Color-White, #e4ebf2);
      box-shadow: 12px 12px 15px 0px #a4b7c9 inset;
      .carrouselContainer {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-end;
        padding-top: 50px;

        .textContainer {
          display: flex;
          width: 510px;
          height: 140px;
          align-items: center;
          justify-content: center;
          padding: 13px 45px 12px 44px;
          border: 2px solid #e4edf5;
          border-radius: 40px;
          background: var(--Middle-Color-White, #e4ebf2);
          box-shadow: 5px 5px 20px 0px #b9bbbc, -5px -5px 20px 0px #fff;
          .svgContainer {
            width: 100%;
            height: 100%;
            svg {
              overflow: visible;
              width: fit-content;
              height: fit-content;
            }
          }
        }
        .snapContainer {
          width: 719px;
          height: 539px;
          align-self: flex-end;
          background: url('../../../assets/images/shotsnapp.png');
          transform: translateY(-24px);
        }
      }
    }
    .description {
      display: flex;
      width: 50%;
      height: calc(100% - 90px);
      flex-direction: column;
      flex-wrap: nowrap;
      align-items: center;
      .softTitle {
        display: flex;
        width: 598px;
        height: 148px;
        flex-direction: column;
        flex-shrink: 0;
        justify-content: center;
        p {
          background: linear-gradient(180deg, #30343a 0%, #292c31 100%);
          -webkit-background-clip: text;
          background-clip: text;
          font-family: Roboto Mono;
          font-size: 150px;
          font-style: normal;
          font-weight: 700;
          letter-spacing: -0.4px;
          line-height: 150px; /* 100% */
          text-align: right;
          -webkit-text-fill-color: transparent;
        }
      }
      .content {
        display: flex;
        width: 479.333px;
        height: 430px;
        flex-direction: column;
        flex-wrap: nowrap;
        justify-content: space-between;
        margin-top: 50px;
        .descriptionTextContainer {
          width: 479.333px;
          height: 151px;
          flex-shrink: 0;
          p {
            color: #e4ebf2;
            font-family: Lato;
            font-size: 90px;
            font-style: normal;
            font-weight: 600;
            letter-spacing: -0.4px;
            line-height: 150px; /* 166.667% */
            text-align: right;
            text-shadow: 0px 0px 5px #fff;
          }
          .svgContainer {
            display: flex;
            width: 479px;
            height: 8px;
            flex-shrink: 0;
            justify-content: flex-start;
            margin-top: -25px;
            svg {
              overflow: visible;
              width: fit-content;
              height: fit-content;
            }
          }
        }
        &:nth-child(2) {
          color: #e4ebf2;
          font-family: Roboto;
          font-size: 32px;
          font-style: normal;
          font-weight: 500;
          letter-spacing: -0.4px;
          line-height: 35px; /* 109.375% */
          text-align: right;
        }
        .contactButton {
          width: 338px;
          height: 70px;
          flex-shrink: 0;
          border-radius: 50px;
          margin-left: 140px;
          background: linear-gradient(90deg, #ff6161 0.16%, #f6d 99.81%);
          p {
            color: #fff;
            font-family: Lato;
            font-size: 30px;
            font-style: normal;
            font-weight: 800;
            letter-spacing: -0.6px;
            line-height: normal;
            text-align: center;
          }
        }
      }
    }
  }
}
