@use '../../../style/sass/ITCSS/01_settings/colors' as *;
@use '../../../style/sass/ITCSS/01_settings/global' as *;
.ImageComparator {
  position: relative;
  width: 732px;
  height: 604px;
  &_imageComparer {
    position: relative;
    width: 732px;
    height: 604px;
    border-radius: 0px 299px 299px 0px;
    margin-top: 40px;
    margin-left: -220px;
  }
  &_circle {
    position: absolute;
    width: 554px;
    height: 554px;
    border: 6px solid $color-middle-white;
    border-radius: 50%;
    margin-top: 25px;
    margin-left: 150px;
    filter: drop-shadow($base-box-shadow-image-comparator);
  }
  &_line {
    position: absolute;
    top: 270px;
    overflow: hidden;
    width: 552.14px;
    border: 4px solid $color-middle-white;
    box-shadow: $base-box-shadow-image-comparator;
    transform: rotate(-45.36deg);
  }
  &_backImage {
    width: 100%;
    height: 100%;
    border-radius: 301px;
  }
}
