.SectionPoint {
  height: fit-content;
  border: none;
  background: none;
  cursor: pointer;
  &___projects {
    position: absolute;
    height: fit-content;
    border: none;
    background: none;
  }
}
