/* stylelint-disable plugin/selector-bem-pattern */

@import '../../style/sass/ITCSS/02_tools/breakpoints';
.panel {
  width: 100vw;
  height: 100vh;
  @include phone {
    width: 210vw;
    height: 100vh;
  }
  @include desktop {
    width: 100vw;
    height: 100vh;
  }
}

.container {
  display: flex;
  width: 600%;
  height: 100%;
  flex-wrap: nowrap;
}

#masthead {
  position: fixed;
  z-index: 9999;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
#masthead a {
  padding: 1rem 2rem;
  color: white;
}
