.form {
  display: flex;
  width: 574px;
  height: 586px;
  flex-direction: column;
  flex-shrink: 0;
  justify-content: flex-start;
  padding-top: 30px;
  gap: 17px;
  button {
    width: 268px;
    height: 56px;
    flex-shrink: 0;
    border-radius: 12px;
    background: var(--Lava-Linear-Horizontal, linear-gradient(90deg, #ff6161 0.16%, #f6d 99.81%));
    box-shadow: 0px 0px 3px 0px rgba(255, 185, 191, 0.61);
    cursor: pointer;

    /* Flare Lava */
    p {
      color: #fff;
      font-family: Nunito;
      font-size: 15px;
      font-style: normal;
      font-weight: 800;
      letter-spacing: -0.6px;
      line-height: normal;
      text-align: center;
    }
  }
  textarea {
    width: 600px;
    height: 198.897px;
    flex-shrink: 0;
    border: none;
    border-radius: 12px;
    color: var(--placeholder, #9c9c9c);
    font-family: Nunito;
    font-size: 25px;
    font-style: normal;
    font-weight: 400;
    letter-spacing: -0.5px;
    line-height: normal;
  }
}
