@import '../../../style/sass/ITCSS/01_settings/colors';
@import '../../../style/sass/ITCSS/01_settings/fonts';
@import '../../../style/sass/ITCSS/01_settings/global';
@import '../../../style/sass/ITCSS//02_tools/breakpoints';
.Illustration {
  display: flex;
  width: 635px;
  height: 842px;
  flex-direction: column;
  align-items: center;
  will-change: transform;
  @include phone {
    width: 317px;
    height: 421px;
  }
  @include desktop {
    width: 635px;
    height: 842px;
  }
  &_svgContainer {
    width: 539px;
    height: 527px;

    @include phone {
      width: 269px;
      height: 263px;
    }
    @include desktop {
      width: 539px;
      height: 527px;
    }
  }
  &_svg {
    width: 100%;
    height: 100%;
  }
  &_contactButton {
    width: 338px;
    height: 70px;
    flex-shrink: 0;
    border: none;
    border-radius: 50px;
    margin: 40px 100px;
    background: $color-gradient-pink-linear-horizontal;
    box-shadow: $base-box-shadow-neon-pink-button;
    @include phone {
      width: 150px;
      height: 45px;
      margin: 20px 50px;
    }
    @include desktop {
      width: 338px;
      height: 70px;
      margin: 40px 100px;
    }
  }
  &_contactButtonText {
    color: $color-white;
    font-family: Lato;
    font-size: 30px;
    font-style: normal;
    font-weight: $weight-bolder;
    letter-spacing: -0.6px;
    line-height: normal;
    text-align: center;
    @include phone {
      font-size: 15px;
    }
    @include desktop {
      font-size: 30px;
    }
  }
}
