@import '../../../style/sass/ITCSS/01_settings/colors';
@import '../../../style/sass/ITCSS/01_settings/fonts';
@import '../../../style/sass/ITCSS/01_settings/global';
@import '../../../style/sass/ITCSS//02_tools/breakpoints';
.Illustration {
  will-change: transform;
  &_svgContainer {
    display: flex;
    @include phone {
      width: 300px;
    }
    @include desktop {
      width: 100%;
      height: 100%;
    }
  }
  &_svg {
    width: 100%;
    height: 100%;
  }
  &_contactButton {
    width: 338px;
    height: 70px;
    flex-shrink: 0;
    border: none;
    border-radius: 50px;
    margin: 40px 100px;
    background: $color-gradient-pink-linear-horizontal;
    box-shadow: $base-box-shadow-neon-pink-button;
  }
  &_contactButtonText {
    color: $color-white;
    font-family: Lato;
    font-size: 30px;
    font-style: normal;
    font-weight: $weight-bolder;
    letter-spacing: -0.6px;
    line-height: normal;
    text-align: center;
  }
}
