@import '../../../style/sass/ITCSS/01_settings/colors';
@import '../../../style/sass/ITCSS/01_settings/fonts';
.Skill {
  display: flex;
  width: 575px;
  height: 31px;
  align-items: flex-start;
  justify-content: center;
  padding: 0px 20px;
  gap: 20px;
  &_skillText {
    color: $color-gray;
    font-family: Nunito;
    font-size: 20px;
    font-style: normal;
    font-weight: $weight-semi-bold;
    line-height: normal;
    text-align: center;
  }

  &_chargeBarContainer {
    width: 396px;
    height: 30px;
    flex-shrink: 0;
  }

  &_chargeBar {
    position: relative;
    width: 396px;
    height: 16px;
    flex-shrink: 0;
  }
  &_nullPart {
    width: 396px;
    height: 16px;
    flex-shrink: 0;
    border-radius: 31px;
    margin-top: 7px;
  }

  &_circleContainer {
    position: absolute;
    width: 30px;
    height: 30px;
    margin-top: -13px;
    margin-left: 150px;
  }
  &_neonPart {
    position: absolute;
    top: -4px;
    width: 260.554px;
    height: 13px;
    flex-shrink: 0;
  }
}
