@import '../../style/sass/ITCSS/01_settings/colors';
@import '../../style/sass/ITCSS/01_settings/fonts';
@import '../../style/sass/ITCSS/02_tools/breakpoints';

.Navbar {
  position: fixed;
  z-index: 999;
  right: 0px;
  left: 0px;
  display: flex;
  height: 90px;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: center;
  justify-content: space-around;
  @include phone {
    height: 53px;
  }
  @include desktop {
    height: 90px;
  }
  &_logo {
    display: flex;
    align-items: center;
    color: $color-white;
    font-family: 'Roboto Condensed';

    font-style: normal;
    font-weight: $weight-bold;
    letter-spacing: 0.1px;
    line-height: 0px;
    text-align: center;
    @include phone {
      font-size: 13px;
    }
    @include desktop {
      font-size: 28px;
    }
  }
  &_menuToggle {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &_button {
    width: 14px;
    height: 14px;
    border: 1px solid var(--light-color);
    border-radius: 16px;
    cursor: none;
    @include phone {
      width: 27px;
      height: 27px;
      border-radius: 8px;
    }
    @include desktop {
      width: 56px;
      height: 56px;
      border-radius: 16px;
    }
  }
  &_hamburger {
    width: 100%;
    height: 100%;
  }
  &_bottomNeon {
    position: absolute;
    top: 83px;
    width: 100%;
    height: 7px;
    background: $color-gradient-pink-linear-horizontal;
    box-shadow: 0px 0px 18px $color-box-shadow-neon-pink;
    @include phone {
      top: 53px;
    }
    @include desktop {
      top: 83px;
    }
  }
}
