@use '../../style/sass/ITCSS/01_settings/colors' as *;
@use '../../style/sass/ITCSS/01_settings/fonts' as *;
.Navbar {
  position: fixed;
  z-index: 999;
  right: 0px;
  left: 0px;
  display: flex;
  height: 90px;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: center;
  justify-content: space-around;
  &_logo {
    display: flex;
    align-items: center;
    color: $color-white;
    font-family: 'Roboto Condensed';
    font-size: 28px;
    font-style: normal;
    font-weight: $weight-bold;
    letter-spacing: 0.1px;
    line-height: 0px;
    text-align: center;
  }
  &_menuToggle {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &_button {
    width: 56px;
    height: 56px;
    border-radius: 16px;
  }
}
