@import '../../style/sass/ITCSS/01_settings/colors';

.Skills {
  display: flex;
  height: 300vh;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  padding-top: 130px;
  &_skillsContainer {
    display: flex;
    justify-content: center;

    gap: 50px;
  }
}
