/* stylelint-disable plugin/selector-bem-pattern */
@import '../../style/sass/ITCSS/01_settings/colors';

.Center {
  --width: 4px;
  position: absolute;
  top: calc(50% - var(--width) / 2);
  left: calc(50% - var(--width) / 2);
  width: var(--width);
  height: var(--width);
  border-radius: 100%;
  background-color: $color-black;
}
