@import '../neuTooltipTool.module';

.ShapeSwitcher {
  display: flex;
  overflow: hidden;
  flex-grow: 1;
  border-radius: 3px;
  &_button {
    flex-grow: 1;
    border: none;
    background: var(--textColorOpposite);
    color: var(--textColor);
    cursor: pointer;
    opacity: 0.9;
    outline: 0;
  }
  &_icon {
    width: 30px;
    height: 30px;
    pointer-events: none;
    stroke: var(--textColor);
  }
  &_active {
    opacity: 1;
  }
}
