@use '../../style/sass/ITCSS/01_settings/colors' as *;
@use '../../style/sass/ITCSS/01_settings/fonts' as *;
@use '../../style/sass/ITCSS/01_settings/global' as *;
.Intro {
  display: flex;
  height: 110vh;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: center;
  justify-content: space-around;
  &_myIntroduction {
    display: flex;
    width: 595px;
    height: 301.29px;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 14px;
  }
  &_text:first-child {
    flex-grow: 0;
    align-self: stretch;
    order: 0;
    color: $color-middle-white;
    font-family: 'Lato';
    font-size: 54px;
    font-style: normal;
    font-weight: $weight-bold;
    line-height: 64px;
    text-shadow: $base-text-shadow-sub-title;
  }
  &_text:nth-child(3) {
    top: calc(50% - 73px / 2 + 114.15px);
    height: 73px;
    color: $color-light-gray;
    font-family: 'Fira code';
    font-size: 31px;
    font-weight: $weight-normal;
    letter-spacing: -2.2px;
    line-height: 38px;
    word-spacing: -4px;
  }
  &_strong {
    font-size: 31px;
    font-weight: $weight-bold;
    letter-spacing: 1px;
    text-shadow: $base-text-shadow-sub-title;
  }
  &_em {
    font-display: swap;
    font-family: 'Times New Roman', Times, serif;
    font-style: italic;
    font-weight: $weight-normal;
  }

  &_lines {
    width: 595px;
    height: 50.29px;
    flex-grow: 0;
    align-self: stretch;
  }
  &_line1 {
    left: 0px;
    width: 595px;
    height: 8.38px;
    border-radius: 14px;
    margin-bottom: 33.53px;
    background: $color-gradient-pink-linear-horizontal;
    box-shadow: $base-box-shadow-neon;
  }

  &_line2 {
    left: 0px;
    width: 297.5px;
    height: 8.38px;
    border-radius: 14px;
    background: $color-gradient-pink-linear-horizontal;
    box-shadow: $base-box-shadow-neon;
  }

  &_ilustration {
    position: relative;
    display: inline;
    width: 595px;
    height: 366px;
  }
  &_design {
    position: absolute;
    top: 55px;
    right: 140px;
    width: 370px;
    height: 303px;
  }
  &_svgContainer {
    position: relative;
    width: 630px;
    height: 440px;
  }
}
