@use '../../../../style/sass/ITCSS/01_settings/colors' as *;
@import 'Arrow.module';
.LightSourceSelector {
  display: grid;
  padding: 3px;
  border-radius: 5px;
  background-color: $color-background-light-source-selector;
  gap: 3px 6px;
  grid-template-columns: 1fr 1fr;
  &_disabled {
    opacity: 0.3;
    pointer-events: none;
  }
}
